<dgwnu-dia-paper
    [width]="1200"
    [height]="600"
    [gridSize]="10"
    [drawGrid]="true">
    <dgwnu-dia-graph>
        <dgwnu-shapes>
            <dgwnu-shapes-standard>
                <dgwnu-standard-rectangle 
                    [id]="'rect'"
                    [x]="10"
                    [y]="30"
                    [width]="100"
                    [height]="40"
                    [body]="{ fill: 'blue' }"
                    [label]="{ text: 'Hello', fill: 'white' }">
                </dgwnu-standard-rectangle>
                <dgwnu-standard-rectangle 
                    [id]="'rect2'"
                    [x]="310"
                    [y]="30"
                    [width]="100"
                    [height]="40"
                    [body]="{ fill: 'blue' }"
                    [label]="{ text: 'World!', fill: 'white' }">
                </dgwnu-standard-rectangle>
                <dgwnu-standard-link
                    [id]="'link'"
                    [sourceId]="'rect'"
                    [targetId]="'rect2'">
                    <!-- link(rect => rec2)  -->
                </dgwnu-standard-link>
            </dgwnu-shapes-standard>
        </dgwnu-shapes>
    </dgwnu-dia-graph>
</dgwnu-dia-paper>
