The NgJoint (@dgwnu/ng-joint) Library is a research project of the dutch based Plan-K Consultancy firm. Our aim is to combine the best of both worlds. 
<mat-list>
    <mat-list-item><mat-icon mat-list-icon>star</mat-icon> the angular HTML-template and structural directives that makes it easy to create single page webapplications that can support almost every webbrowser; </mat-list-item>
    <mat-list-item><mat-icon mat-list-icon>star</mat-icon> The fabulous diagram programming building blocks of jointjs. </mat-list-item>
</mat-list>

<app-how-to-use-doc [overview]="overview" [api]="api" [examples]="examples">
</app-how-to-use-doc>

<ng-template #overview>
  Test overview template
</ng-template>

<ng-template #api>
    Test api template
</ng-template>

<ng-template #examples>
    Test examples template
</ng-template>