<app-how-to-use-doc
  [overview]="overview"
  [api]="api"
  [examples]="examples">
</app-how-to-use-doc>
  
<ng-template #overview>
  Test overview template
</ng-template>
  
<ng-template #api>
  Test api template
</ng-template>

<ng-template #examples>
  <p>Example with all standard <b>joinjs</b> package delivered element-shapes in the <b>@dwgu/ng-joint</b> angular HTML-template definition format.</p>

  <app-code-example-viewer
    [codeExample]="codeexample01"
    [codeSourceUrl]="'https://raw.githubusercontent.com/dgwnu/ng-joint/master/src/app/app.component'">
  </app-code-example-viewer>

  <ng-template #codeexample01>
    <app-standard-elements-code-example01></app-standard-elements-code-example01>
  </ng-template>

</ng-template>
