<ng-joint-dia-paper
    [width]="1200"
    [height]="600"
    [gridSize]="10"
    [drawGrid]="true">

    <ng-joint-dia-graph>

      <ng-joint-shapes>

        <ng-joint-shapes-standard>

          <ng-joint-standard-rectangle
                    [id]="'rectangle'"
                    [x]="50"
                    [y]="10"
                    [width]="100"
                    [height]="100"
                    [body]="{ fill: '#30d0c6', fillOpacity: '0,5' }"
                    [label]="{ text: 'Rectangle' }">
          </ng-joint-standard-rectangle>

          <ng-joint-standard-circle
                    [id]="'circle'"
                    [x]="200"
                    [y]="10"
                    [width]="100"
                    [height]="100"
                    [body]="{ fill: '#30d0c6', fillOpacity: '0,5' }"
                    [label]="{ text: 'Circle' }">
          </ng-joint-standard-circle>

          <ng-joint-standard-ellipse
                    [id]="'ellipse'"
                    [x]="350"
                    [y]="10"
                    [width]="150"
                    [height]="100"
                    [body]="{ fill: '#30d0c6', fillOpacity: '0,5' }"
                    [label]="{ text: 'Ellipse' }">
          </ng-joint-standard-ellipse>

          <ng-joint-standard-path
                    [id]="'path'"
                    [x]="50"
                    [y]="210"
                    [width]="100"
                    [height]="100"
                    [body]="{ fill: '#30d0c6', fillOpacity: '0,5', refD: 'M 0 5 10 0 C 20 0 20 20 10 20 L 0 15 Z' }"
                    [label]="{ text: 'Path' }">
          </ng-joint-standard-path>

        </ng-joint-shapes-standard>

      </ng-joint-shapes>

    </ng-joint-dia-graph>

</ng-joint-dia-paper>
