<!-- Based on https://resources.jointjs.com/docs/jointjs/v2.2/demo/shapes/shapes.standard.js -->
<ng-joint-dia-paper
    [width]="650"
    [height]="800"
    [gridSize]="10"
    [drawGrid]="true">

    <ng-joint-dia-graph>

      <ng-joint-shapes>

        <ng-joint-shapes-standard>

          <ng-joint-standard-bordered-image
            [id]="'bordered-image'"
            [x]="225"
            [y]="410"
            [width]="150"
            [height]="100"
            [root]="{ title: 'standard.BorderedImage' }"
            [label]="{ text: 'Bordered\nImage' }"
            [border]="{ rx: '5' }"
            [image]="{ xlinkHref: 'assets/image.png' }">
          </ng-joint-standard-bordered-image>

          <ng-joint-standard-circle
            [id]="'circle'"
            [x]="200"
            [y]="10"
            [width]="100"
            [height]="100"
            [root]="{ title: 'standard.Circle' }"
            [body]="{ fill: '#30d0c6', fillOpacity: '0.5' }"
            [label]="{ text: 'Circle' }">
          </ng-joint-standard-circle>

          <ng-joint-standard-cylinder
            [id]="'cylinder'"
            [x]="525"
            [y]="75"
            [width]="100"
            [height]="200"
            [root]="{ title: 'standard.Cylinder' }"
            [body]="{ fill: 'fe854f', fillOpacity: '0.5' }"
            [top]="{ fill: 'fe854f', fillOpacity: '0.8' }"
            [label]="{ text: 'Cylinder' }"
            [topRy]="'10%'">
          </ng-joint-standard-cylinder>

          <ng-joint-standard-ellipse
            [id]="'ellipse'"
            [x]="350"
            [y]="10"
            [width]="150"
            [height]="100"
            [root]="{ title: 'standard.Ellipse' }"
            [body]="{ fill: '#30d0c6', fillOpacity: '0.5' }"
            [label]="{ text: 'Ellipse' }">
          </ng-joint-standard-ellipse>

          <ng-joint-standard-embedded-image
            [id]="'embedded-image'"
            [x]="425"
            [y]="340"
            [width]="150"
            [height]="100"
            [root]="{ title: 'standard.EmbededImage' }"
            [label]="{ text: 'Embedded\nImage' }"
            [body]="{ fill: '#fe854f', fillOpacity: '0.5', stroke: '#fe854f' }"
            [image]="{ xlinkHref: 'assets/image.png' }">
          </ng-joint-standard-embedded-image>

          <ng-joint-standard-headered-rectangle
            [id]="'headered-rectangle'"
            [x]="25"
            [y]="610"
            [width]="150"
            [height]="100"
            [root]="{ title: 'standard.HeaderedRectangle' }"
            [header]="{ fill: 'lightgray' }"
            [headerText]="{ text: 'Header' }"
            [bodyText]="{ text: 'Headered\nRectangle' }">
          </ng-joint-standard-headered-rectangle>

          <ng-joint-standard-image
            [id]="'image'"
            [x]="25"
            [y]="410"
            [width]="150"
            [height]="100"
            [root]="{ title: 'standard.Image' }"
            [label]="{ text: 'Image' }"
            [image]="{ xlinkHref: 'assets/image.png' }">
          </ng-joint-standard-image>
          
          <ng-joint-standard-path
            [id]="'path'"
            [x]="50"
            [y]="210"
            [width]="100"
            [height]="100"
            [root]="{ title: 'standard.Path' }"
            [body]="{ fill: '#30d0c6', fillOpacity: '0.5', refD: 'M 0 5 10 0 C 20 0 20 20 10 20 L 0 15 Z' }"
            [label]="{ text: 'Path' }">
          </ng-joint-standard-path>

          <ng-joint-standard-rectangle
            [id]="'rectangle'"
            [x]="50"
            [y]="10"
            [width]="100"
            [height]="100"
            [root]="{ title: 'standard.Rectangle' }"
            [body]="{ fill: '#30d0c6', fillOpacity: '0.5' }"
            [label]="{ text: 'Rectangle' }">
          </ng-joint-standard-rectangle>

        </ng-joint-shapes-standard>

      </ng-joint-shapes>

    </ng-joint-dia-graph>

</ng-joint-dia-paper>
