// Import angular matrial theming functions
@import '~@angular/material/theming';
// Import app custom theme
@import '../styles.scss';

.accordion-container {
    background-color: mat-color($ng-joint-app-warn, A100);
}

.accordion-content {
  background-color: mat-color($ng-joint-app-warn, A200);
}

.main-content {
  background-color: mat-color($ng-joint-app-primary, 50);
}
