// Import angular matrial theming functions
@import '~@angular/material/theming';
// Import app custom theme
@import '../styles.scss';

/*
.menu-card {
    background-color: mat-color($ng-joint-app-warn, A100);
}

.main-card {
  background-color: mat-color($ng-joint-app-primary, 50);
}

/deep/ .mat-expansion-panel-header {
  background-color: mat-color($ng-joint-app-warn, A100);
}

/deep/ .mat-expansion-panel-content {
  background-color: mat-color($ng-joint-app-warn, 50);
}
*/