
<mat-toolbar color="primary">
    {{title}}
</mat-toolbar>

<div fxLayout="row">

    <mat-card class="accordion-container">
        <mat-card-title>
            Shapes
        </mat-card-title>
        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel 
                    (afterExpand)="onExamplesOverviewPage('shapes-standard')" 
                    (afterCollapse)="onExamplesOverviewPage('shapes-standard')"
                >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Standard
                        </mat-panel-title>
                        <mat-panel-description>
                            (jointjs)
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-action-row>
                        <a mat-button routerLink="/shapes-standard-examples/standard-elements"> Elements </a>
                    </mat-action-row>
                    <mat-action-row>
                        <button mat-button> Links </button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>

    <mat-card class="main-content" fxFlex>
        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
    </mat-card>

</div>