
<mat-toolbar color="primary">
    {{title}}
</mat-toolbar>

<div fxLayout="row">

    <mat-card class="accordion-container">
        <mat-card-title>
            Shapes
        </mat-card-title>
        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let examples of examplesList">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{main}}
                        </mat-panel-title>
                        <mat-panel-description>
                            (jointjs)
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-action-row *ngFor="let sub of examples.subs">
                        <a mat-button routerLink="buildSubLink(examples.main, sub)"> {{sub}} </a>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>
    </mat-card>

    <mat-card class="main-content" fxFlex>
        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
    </mat-card>

</div>