<ng-joint-dia-paper
    [width]="1200"
    [height]="600"
    [gridSize]="10"
    [drawGrid]="true">

    <ng-joint-dia-graph>

        <ng-joint-shapes>

            <ng-joint-shapes-standard>

                <ng-joint-standard-rectangle *ngFor="let rect of rects"
                    (elementPointerClick)="onElementPointerClick($event)"
                    [id]="rect.id"
                    [x]="rect.x"
                    [y]="rect.y"
                    [width]="rect.width"
                    [height]="rect.height"
                    [body]="rect.body"
                    [label]="rect.label">
                </ng-joint-standard-rectangle>

                <ng-joint-standard-link *ngFor="let link of links"
                    [id]="link.id"
                    [sourceId]="link.sourceId"
                    [targetId]="link.targetId"
                    [line]="link.line">
                </ng-joint-standard-link>

            </ng-joint-shapes-standard>

        </ng-joint-shapes>

    </ng-joint-dia-graph>

</ng-joint-dia-paper>
