<mat-tab-group>

    <mat-tab label="Bi-Diectional Binding Angular Element Example">
        <ng-template matTabContent>
            <app-bi-dir-bind-ng-element-example></app-bi-dir-bind-ng-element-example>
        </ng-template>
    </mat-tab>

    <mat-tab label="Bi-Diectional Binding Standard Shapes Example">
        <ng-template matTabContent>
            <app-bi-dir-bind-standard-shapes-example></app-bi-dir-bind-standard-shapes-example>
        </ng-template>
    </mat-tab>

</mat-tab-group>
